<ul>
    <% cart.each do |product | %>
        <li> <%= product %></li>
    <% end %>
</ul>

<%= form_tag ({ method: 'post', action: 'add'}) do %>
   <input name=product>
  <input type=submit value='add to cart'>
<% end %>
